{% extends 'base.html.twig' %}

{% block title 'voir nos biens'   %}

{% block body %}
  <div class = 'card ' >
    <div class = 'card - title' >  Voici mon titre
      <div class = 'container mt-5 center ' >
      <h1> voir nos biens <h1>
    </div>
  </div>

  <p> Bonjour tous le monde voici mon deuxième paragraphe de mon site en symfony ;)

      Bientôt ici il y aura des annonces ('-')
  </p>



  </div>
{% endblock %}
